.file-upload-box {
  border: 2px dashed #007bff;
  padding: 20px;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
}

.file-input-label input {
  display: none;
}

.upload-box {
  padding: 10px;
  background-color: #f8f9fa;
  color: #007bff;
  border-radius: 5px;
}

.upload-button {
  margin-top: 10px;
  padding: 8px 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button:hover {
  background: #0056b3;
}